@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #1A1A1A;
  font-family: Rubik;
}

.MonoVis{
  color: #fff;
  display: inline-flex;
  height: 50px;
  width: 170px;
  background-color: #1E1E1E;
  border-radius: 7px;
  align-items: center;
  padding-left: 30px;
  outline: none;
  border: none;
}

.section__title{
  color: #565656;
  margin-top: 15px;
  font-weight: bolder;
  font-size: 22px;
}

.section__title__discord{
  color: #565656;
  margin-top: 15px;
  margin-right: 25px;
  font-weight: bolder;
  font-size: 22px;
}

.MonoVis:hover{
  background-color: #565656;
  transition: 0.7s;
  color: #1A1A1A;
  outline: none;
  border: none;
  font-weight: 800;
}

.header__sub{
  color: #565656;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}